@model HBShop.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Category</legend>

    <div class="display-label">CategoryName</div>
    <div class="display-field">@Model.CategoryName</div>

    <div class="display-label">User</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.User).ToString()</div>

    <div class="display-label">UpdateDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.UpdateDate)</div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">@Model.IsDeleted</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


